nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 13%;
}
u1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;
    background-color:#dddddd;
}
li a {
    display: block;
    color: black;
	font-family: cursive;
	font: Caflisch Script Pro;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}
li a:hover{
	background-color: #2E8B57;
}

.active{
	background-color: #2E8B57;
}body {
	background-image:url(textbackground.jpg);
}
#trojanactionfigure {
	position: absolute;
	top: 900px;
	color: white;
	font-family: cursive;
	font: Caflisch Script Pro;
}
#gamejam2016 {
	position: absolute;
	top: 50px;
	color: white;
	font-family: cursive;
	font: Caflisch Script Pro;
}
#GlobalGameJam2017{
	position: absolute;
	top: 3000px;
	color: white;
	font-family: cursive;
	font: Caflisch Script Pro;
}
